body{
	margin: 0px;
  background: #FF8656;
}

.container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

h1 {
	font-family: fantasy;
	font-size: 3em;
	border-bottom: 2px solid pink;
	border-right: 2px solid pink;
	width: 400px;
	text-align: center;
	-moz-box-shadow: 4px 4px 5px #888888;
	-ms-box-shadow: 4px 4px 5px #888888;
	-webkit-box-shadow: 4px 4px 5px #888888;
	-o-box-shadow: 4px 4px 5px #888888;
	box-shadow: 4px 4px 5px #888888;
	margin-top: 10px;
	color: white;
}

figure{
	border: absolute;
	display: inline-block;
	margin: 0;
	position: relative;
}

figcaption{
	position: absolute;
	bottom: -5px;
	left: 25px;
	width: 100%;
	font-size: 22px;
	color: white;
}

img {
	width: 450px;
	height: 300px;
	margin: 25px;
	transition: all 1s;
}

img:hover {
	transform: scale(1.1);
}

.btn{
	font-weight: 700;
	border-radius: 300px;
	text-transform: uppercase;
	margin-top: 20px;
	margin-right: 20px;
	margin-left: 20px;
	margin-bottom: 20px;
}

.btn-xl{
	padding: 1rem 2rem;
}

.btn-primary{
	background-color: #28B17A;
	border-color: #28B17A;
}

.btn-primary:hover{
	background-color: pink;
	border-color: pink;
	border-width: 4px;
}